jenkins-to-cloudhub/src/main/mule/jenkins-to-cloudhub.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1429dd8b-148a-49ec-bcf6-db00540a1a64" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkins-to-cloudhubFlow" doc:id="416c92b8-2990-4762-9e4e-a89cf810f49a" >
		<http:listener doc:name="Listener" doc:id="0ad008ac-7b6d-4581-ab9d-3ae058641322" config-ref="HTTP_Listener_config" path="/welcome"/>
		<set-payload value="#['welcome to cloudhub deployment using jenkins']" doc:name="Set Payload" doc:id="53161fa1-5d0c-4059-9e41-b01b44a88cf9" />
	</flow>
</mule>
